%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'Henri Weather', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        - if user_signed_in?
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-link'
        - else
          %li= link_to 'Sign in', new_user_session_path, class: 'nav-link'
